*.apk
*.ap_
*.dex
*.orig
*.rej
.DS_Store
*.class
.gradle
.idea
.settings
adb.pid
bc-android.keystore
bin
build
certdata.txt
check_tools.mk
default.properties
doc
gen
liblinphone-junit-report.xml
liblinphonetester_*.zip
linphone-android.iml
linphone-junit-report*.xml
linphonetester_*.zip
lint.xml
local.properties
obj
proguard/
proguard-project.txt
project.properties
*.log
.navigation/
res/.DS_Store
submodules/externals/build/cunit/CUnit/
submodules/externals/build/ffmpeg/arm/
submodules/externals/build/ffmpeg/x86
submodules/externals/build/libvpx/arm
submodules/externals/build/libvpx/x86
submodules/externals/build/openh264/arm
submodules/externals/build/openh264/x86
tests/*$py.class
tests/build.xml
captures/
tests/project.properties

# Intellij
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml

# Keystore files
*.jks

.signing/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db